@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;
}
body {
  background-color: rgba(0, 0, 0, 0.916);
}
nav {
  background-color: rgb(64, 65, 66);
  border-radius: 10px;
  margin: 8px 10px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: white;
}
.logo img {
  width: 80px;
  height: 74px;
  margin-right: 90px;
}
table {
  margin: 0 auto;
  width: 900px;
}
.left {
  width: 65%;
}

.right {
  width: 35%;
  vertical-align: top;
}

.left h2,
.left h3,
.right h3,
.right h2 {
  margin-bottom: 6px;
  color: rgba(240, 248, 255, 0.684);
}

.left p {
  margin-bottom: 6px;
  color: rgba(127, 255, 212, 0.736);
}

.right h2 {
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: 20px;
}

.right h3,
.right p {
  margin-left: 20px;
  color: rgba(127, 255, 212, 0.736);
}

.right li {
  color: rgba(127, 255, 212, 0.736);
}
